html{
 
  height: 100%;
  background-size: auto;
  font-family: sans-serif;
  
}
.container {
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 400px;
  
}

form{
  margin: 0 auto;
  padding: 12px;
}

form input{
  
  color: black;
  width: 330px;
  height: 33px;
  font-size: 1.5em;
  outline: 0;
  background: #fff;
  padding: 1px;
  border: 1px solid black;
  
  border-right: none;

}
::-webkit-input-placeholder {
  color: black;
 
}

button{
  font-size: 1.5em;
  background: #fff;
 border: 1px solid black;
 border-left: none;
  outline: 0;
  height: 37px;
  width: 40px;
  
}

button:hover{
  color: gray;
}
.todos{
  background: #fff;
  padding: 15px;
  width:345px;
  margin: 0 auto;
  
}