html{
  background-image: linear-gradient(#ec5151,#e76177);
  background-repeat: no-repeat;
  height: 100%;
  background-size: auto;
  
}
.container {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 400px;
  
}

form{
  margin: 0 auto;
  
}

form input{
  border: none;
  border-bottom: 1px solid black;
}

